<div id="header"  style="border:thick solid black">
<h2>Container works!</h2>
<p>

<p>
  This is the overall container for TestProject1
</p>
<br>
<div>
<app-header></app-header>
</div>
<br>
<!-- routing -->
<div id = "routing">
  <a routerLink='/myInterests'>My Interests</a>

  <router-outlet></router-outlet>
</div>
<br>
<!-- user input -->
<div id = "user input">
  <app-user-input></app-user-input>
</div>
<br>
<!-- watson content hub -->
<div id= "watson content hub">
  <app-watson-content-hub>Loading the watson content .... </app-watson-content-hub>
</div>
<br>
<!-- Injectable service -->
<div id = "app-inject-consumer">
  <app-inject-consumer> </app-inject-consumer>
</div>